body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: "Josefin Sans", sans-serif;


        }

        .bg {
            background-image: url("images/bg.jpg");
            min-height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 20px;
        }

        .link i {
            color: white;
        }

        .link i:hover {
            color: blue;
        }

         .nav-link{
             color:black;
	       }